
.relative {
    position: relative;
}

.bg-floral {
    --tw-bg-opacity: 1;
    /* background-color: rgba(255,249,239,var(--tw-bg-opacity)); */
}
.z-10 {
    z-index: 10;
}
.relative {
    position: relative;
}

.pb-0 {
    padding-bottom: 0;
}
.pt-4 {
    padding-top: 1rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.relative {
    position: relative;
}


.container {
    width: 100%;
}

.bg-light-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(255,249,239,var(--tw-bg-opacity));
}
.w-screen {
    width: 100vw;
}
.h-full {
    height: 100%;
}
.hidden {
    display: none;
}
.mr-50per-50vw {
    margin-right: calc(50% - 50vw);
}
.ml-50per-50vw {
    margin-left: calc(50% - 50vw);
}
.z-0 {
    z-index: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.top-0 {
    top: 0;
}
.absolute {
    position: absolute;
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: IBM Plex Sans;
} */

.pb-4 {
    padding-bottom: 1rem;
}
.pt-4 {
    padding-top: 1rem;
}
.gap-0 {
    grid-gap: 0;
    gap: 0;
}
.items-center {
    align-items: center;
}
.grid {
    /* display: grid; */
    display: flex;
}

@media (min-width: 1024px){
.lg\:leading-\[54px\] {
    line-height: 54px;
}
}
.text-primary {
    --tw-text-opacity: 1;
    color: rgba(0,59,112,var(--tw-text-opacity));
}

@media (min-width: 1024px){
.app-heading-big {
    Font-family: Lato;
Font-style: Regular;
Font-size: 50px;
Line-height: 65px;
Line-height: 108%;
vertical-align: Top;
color:#323232 ;
}
}
.app-heading-big {
    /* font-family: IBM Plex Sans; */
    /* font-size: 32px; */
    font-weight: 400;
}


.text-secondary {
    --tw-text-opacity: 1;
    /* color: rgba(69,193,197,var(--tw-text-opacity)); */
    color: #323232;
}
.leading-none {
    line-height: 1;
}
.mt-\[6px\] {
    margin-top: 6px;
}
.app-heading-primary {
    font-family: IBM Plex Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}


.opacity-80 {
    opacity: .8;
}
.text-gray {
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
}

.mt-3 {
    margin-top: 0.75rem;
}
.app-text-dm-small {
    font-family:"Roboto";
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}



.mt-5 {
    margin-top: 1.25rem;
}
.app-btn-primary {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-bg-opacity: 1;
    background-color: rgba(0,59,112,var(--tw-bg-opacity));
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}

.app-btn {
    /* border-radius: 0.5rem; */
    border-width: 1px;
    border-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.app-btn {
    display: inline-flex;
    height: 45px;
    width: 230px;
    align-items: center;
    justify-content: center;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}

.app-btn>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(5px * var(--tw-space-x-reverse));
    margin-left: calc(5px * calc(1 - var(--tw-space-x-reverse)));
}

.col-span-7 {
    grid-column: span 7/span 7;
}

@media (min-width: 1024px){
.lg\:h-\[480px\] {
    /* height: 480px; */
    height: 538px;
    width: 780px;
    left: 59px;
    top: 135px;
    border-radius: 0px;
}
}
.ml-auto {
    margin-left: auto;
}
img, video {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1024px){
.lg\:leading-tight {
    line-height: 1.25;
}
}
@media (min-width: 1260px){
    .container {
        max-width: 1260px;
    }
    }


    @media (min-width: 1024px){
.lg\:pb-5 {
    padding-bottom: 1.25rem;
}
    }
    
@media (min-width: 1024px){
.lg\:pt-2 {
    padding-top: 0.5rem;
}
}

/* @media (min-width: 1024px){
.lg\:grid-cols-12 {
    grid-template-columns: repeat(12,minmax(0,1fr));
}
} */

@media (min-width: 768px){
.app-btn {
    padding-left: 25px;
    padding-right: 25px;
}
}


@media only screen and (max-width: 600px) {
.approvalmob{
    display: block  !important;
  }
  .approvaldesk{
    display: none !important;
  }

}



  @media only screen and (max-width: 991px) {
    .approvalmob{
        display: block  !important;
      }
      .approvaldesk{
        display: none !important;
      }
    
    }




    @media only screen and (max-width: 767px) {

        /* #approvcardmobile{
            width: 338px !important;
        } */
        .approvalmob{
            display: block  !important;
          }
          .approvaldesk{
            display: none !important;
          }
    /* .loanapprovalnum{
        font-size: 18px;
    }
    .approvaltext{
        font-size: 7px;
    } */
    }

    /* @media only screen and (max-width: 801px) {
        #approvcardmobile{
            width: 557px  !important;
          }
        } */




    .approvalmob{
        display: none;
      }
      
      .approvaldesk{
        display: block;
      }

      
    /* @media only screen and (max-width: 552px) {
        #approvcardmobile{
            width: auto  !important;
          }
    } */

    /* @media only screen and (max-width: 804px) {
        #approvcardmobile{
            width: 554px  !important;
          }
    }

    @media only screen and (max-width: 959px) {
        #approvcardmobile{
            width: 553px  !important;
          }
    } */

    @media screen and (max-width: 767.99px){
    #approvcardmobile {
    width: 100% !important;
    padding: 5px 5px;
    min-height: unset;
}

.loanapprovalnum{
    font-size: 17px !important;
}

.approvaltext{
   font-size: 12px;
    }
}

