.bg-light-yellow-to-white {
    background-image: linear-gradient(0deg,#fff 60%,#fff9ef);
}
.overflow-hidden {
    overflow: hidden;
}


.container {
    width: 100%;
}
.pr-4 {
    padding-right: 1rem;
}
.pl-4 {
    padding-left: 1rem;
}
.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


.-left-10 {
    left: -2.5rem;
}
.-top-10 {
    top: -2.5rem;
}
.absolute {
    position: absolute;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}


.text-primary {
    --tw-text-opacity: 1;
    color: rgba(0,59,112,var(--tw-text-opacity));
}
.leading-10 {
    line-height: 2.5rem;
}

/* .app-heading-big {
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 700;
} */
.app-form-wrapper {
    margin-bottom: 3.25rem;
    display: block;
    text-transform: uppercase;
}
.mt-9 {
    margin-top: 2.25rem;
}

.opacity-90 {
    opacity: .9;
}
.border {
    border-width: 1px;
}
/* .w-full {
    width: 100%;
} */
.block {
    display: block;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    caret-color: #45c1c5;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    height: 50px;
    border-radius: 0.375rem;
    --tw-border-opacity: 1;
    border-color: rgba(191,200,211,var(--tw-border-opacity));
    font-family: DM Sans;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(33,33,44,var(--tw-text-opacity));
    opacity: .8;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.space-y-5>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
/* .w-full {
    width: 100%;
} */
.bottom-\[1px\] {
    bottom: 1px;
}
.absolute {
    position: absolute;
}

.range-wrapper {
    margin-top: 1rem;
}

.gap-x-2 {
    grid-column-gap: 0.5rem;
    -moz-column-gap: .5rem;
    column-gap: 0.5rem;
}
.grid-cols-6 {
    grid-template-columns: repeat(6,minmax(0,1fr));
}
.grid {
    display: grid;
}
.mt-2 {
    margin-top: 0.5rem;
}
.app-form-wrapper {
    margin-bottom: 3.25rem;
    display: block;
    text-transform: uppercase;
}
.app-form-label, .app-form-label-large {
    display: block;
    font-family: IBM Plex Sans;
    font-weight: 500;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
    opacity: .6;
}

.app-form-label {
    font-size: 11px;
}
.gap-x-6 {
    grid-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}

.shadow-app-card {
    --tw-shadow: 0 5px 20px 0 rgba(11,38,75,0.1);
}
.shadow-app-card, .shadow-card-shadow-secondary {
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
.border-transparent {
    border-color: transparent;
}
.border {
    border-width: 1px;
}
.flex-col {
    flex-direction: column;
}
.w-\[106px\] {
    width: 106px;
}
.h-\[106px\] {
    height: 106px;
}
.z-10 {
    z-index: 10;
}
.relative {
    position: relative;
}
.rounded-md {
    border-radius: 0.375rem;
}
/* .range-thumb--left {
    z-index: 3;
}
.range-thumb {
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
} */
/* .range-thumb, .range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
} */
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.btn-input {
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(191,200,211,var(--tw-border-opacity));
    padding: 0.25rem;
    font-weight: 500;
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.btn {
    display: inline-flex;
    height: 2.5rem;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.items-center {
    align-items: center;
}
.h-9 {
    height: 2.25rem;
}
.flex {
    display: flex;
}

.h-9 {
    height: 2.25rem;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}

img {
    border-style: solid;
}

@media (min-width: 1024px){
.lg\:mb-4 {
    margin-bottom: 1rem;
}
}

@media (min-width: 1260px){
.container {
    /* max-width: 1260px; */
    max-width: 1390px;
}
}
@media (min-width: 1024px){
.container {
    max-width: 1024px;
}
}
@media (min-width: 768px){
.container {
    max-width: 768px;
}
}
@media (min-width: 640px){
.container {
    max-width: 640px;
}
}


@media (min-width: 1024px){
.lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
}
@media (min-width: 640px){
.sm\:pr-48 {
    padding-right: 12rem;
}
}
@media (min-width: 640px){
.sm\:pl-24 {
    padding-left: 6rem;
}
}

@media (min-width: 768px){
.md\:leading-56, .md\:leading-\[56px\] {
    line-height: 56px;
}
}
@media (min-width: 1024px){
.app-heading-big {
    /* font-size: 3rem;
    line-height: 1; */
    Font-family: Lato;
Font-style: Regular;
Font-size: 50px;
Line-height: 65px;
Line-height: 108%;
vertical-align: Top;
color:#323232 ;

}
}

@media (min-width: 1024px){
.lg\:gap-x-8 {
    grid-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}
}
@media (min-width: 1024px){
.lg\:w-7\/12 {
    width: 58.333333%;
}
}
@media (min-width: 1024px){
.lg\:col-span-4 {
    grid-column: span 4/span 4;
}
}
.col-span-6 {
    grid-column: span 6/span 6;
}
@media (min-width: 1024px){
.lg\:col-span-4 {
    grid-column: span 4/span 4;
}
}

@media (min-width: 640px){
.btn {
    height: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
}

