* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}
.App {
  padding: 50px;
}
/* .details__wrapper {
    max-width: 400px;
    margin: 10em auto;
  } */
.form__item {
  margin-bottom: 1.6em;
}
/* label,
input {
  display: block;
  width: 100%;
} */

input {
  display: block;
  width: 100%;
}
.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.input__error input {
  border-color: red;
}
.error__feedback {
  color: red;
}
/* .ant-steps{
    
    width: 50%!important;
  } */

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #ece1e1 !important;
}
.ant-input-number {
  width: 100% !important;
  height: 52px !important;
}

.ant-input-number-input {
  height: 49px !important;
}

select {
  background: none !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
  width: 50% !important;
  /* margin-top: 30px;
  margin-left: 30px; */

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  /* padding-top: 12px;
  padding-bottom: 12px; */
  width: 25% !important;
  /* height: 9px; */
}
th {
  /* padding-top: 12px;
  padding-bottom: 12px; */
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
/* img {
  height: 250px;
  width: 150px;
} */

/* @media (min-width: 1200px){
.container {
    max-width: 1200px !important;
}
}

@media (min-width: 992px){
.container {
    max-width: 960px !important;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px !important;
}
.bannerimage img{
  margin-left: 0px;
}
}
@media (min-width: 576px){
.container {
    max-width: 540px !important;
}
}
.container {
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
} */
@media (min-width: 768px){
  
  .bannerimage img{
    margin-left: 0px;
  }
  }