


[type=radio]:checked {
    background-image: url(../../images/radio.svg) !important;
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
}



[type=checkbox]:checked, [type=radio]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
[type=checkbox], [type=checkbox]:focus, [type=radio], [type=radio]:focus {
    --tw-shadow: transparent!important;
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow)!important;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)!important;
}
[type=radio], [type=radio]:focus {
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
}
[type=radio] {
    height: 18px;
    width: 18px;
    cursor: pointer;
    border-radius: 9999px;
    border-style: none;
    background-image: url(../../images/radio-off.svg);
    background-repeat: no-repeat;
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
    --tw-shadow: 0 0 transparent;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),0 0 transparent;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);
    --tw-ring-offset-width: 0px;
}
[type=radio] {
    border-radius: 100%;
}
[type=checkbox], [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.accordion-button:not(.collapsed)::after{
     display: none !important;
    
}