

.pb-3 {
    padding-bottom: 0.75rem;
}
.pt-4 {
    padding-top: 1rem;
}
.bg-floral {
    --tw-bg-opacity: 1;
    /* background-color: rgba(255,249,239,var(--tw-bg-opacity)); */
}
.pr-4 {
    padding-right: 1rem;
}

.pl-4 {
    padding-left: 1rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 100%;
}
.flex-1 {
    flex: 1 1 0%;
}
.min-w-0 {
    min-width: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img, video {
    max-width: 100%;
    height: auto;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.text-left {
    text-align: left;
}
.inline-block {
    display: inline-block;
}
.relative {
    position: relative;
}

.ease-out {
    transition-timing-function: cubic-bezier(0,0,.2,1);
}
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.w-auto {
    width: auto;
}
.app-btn-primary-outline {
    border-radius: 0.75rem;
    --tw-border-opacity: 1;
    border-color: rgba(0,59,112,var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(0,59,112,var(--tw-text-opacity));
}

.app-btn {
    /* border-radius: 0.5rem; */
    border-width: 1px;
    border-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.app-btn {
    display: inline-flex;
    height: 45px;
    width: 230px;
    align-items: center;
    justify-content: center;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.w-\[10px\] {
    width: 10px;
}
.mr-2 {
    margin-right: 0.5rem;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}





@media (min-width: 640px){
    .sm\:pt-6 {
        padding-top: 1.5rem;
    }
    }

    @media (min-width: 1260px){
.container {
    /* max-width: 1260px; */
    max-width: 1390px;
}
}



@media (min-width: 768px){
.app-btn {
    padding-left: 25px;
    padding-right: 25px;
}
}


.navbar-nav .nav-link{
    position: static;
width: 90px;
height: 18px;
left: 0px;
top: 0px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #323232;

} 

.nav-item .login{
    font-family: 'Roboto', sans-serif;
Font-style: SemiBold;
Font-size: 15px;
margin-left: 17px;
color: #7FCD91;
}