<div>

    <div className="container relative px-2 sm:px-0 mx-auto mt-24 sm:mt-28 sm:w-7/12">
      <ol className="inline-flex items-center justify-between w-full rounded-md">
        <li className="flex w-auto sm:min-w-[106px] justify-center sm:min-h-[72px]">
          <button
            type="button"
            className="flex items-center group focus:outline-none group-hover:text-secondary"
          >
            <div
              className="flex flex-col sm:h-full sm:justify-between items-center text-xs font-medium"
            >
              <div className="text-white rounded-full">
                <div className="text-secondary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    className="transparent"
                    width="24"
                    height="24"
                    viewBox="0 0 20 20"
                  >
                    <g fill="currentColor" fill-rule="evenodd">
                      <g fill="currentColor" fill-rule="nonzero">
                        <path
                          d="M24.996 16c4.968.011 8.993 4.034 9.004 9 0 2.695-1.209 5.248-3.292 6.957-2.084 1.71-4.824 2.396-7.468 1.87-4.538-.906-7.65-5.104-7.196-9.708.453-4.604 4.324-8.115 8.952-8.119zm4.722 6.386c-.304-.304-.796-.304-1.1 0L24.503 26.5l-2.042-2.042c-.304-.303-.796-.303-1.1 0-.303.304-.303.796 0 1.1l2.592 2.59c.304.304.796.304 1.1 0l4.665-4.663c.304-.304.304-.796 0-1.1z"
                          transform="translate(-16 -16)"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div
                className="font-body text-base sm:text-sm font-bold text-primary absolute sm:relative w-full sm:w-auto text-center left-0 top-8 sm:top-0 hidden sm:block"
              >
                Basic Details
              </div>
            </div>
          </button>
        </li>
        <li className="flex-1 sm:flex-auto sm:min-h-[72px]">
          <div
            className="border-b-2 sm:h-[13px] sm:w-[102px] sm:m-auto border-secondary"
          ></div>
        </li>
        <li className="flex w-auto sm:min-w-[106px] justify-center sm:min-h-[72px]">
          <button
            type="button"
            className="flex items-center group focus:outline-none group-hover:text-secondary"
          >
            <div
              className="flex flex-col sm:h-full sm:justify-between items-center text-xs font-medium"
            >
              <div className="text-white rounded-full">
                <div className="text-secondary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    className="transparent"
                    width="24"
                    height="24"
                    viewBox="0 0 20 20"
                  >
                    <g fill="currentColor" fill-rule="evenodd">
                      <g fill="currentColor" fill-rule="nonzero">
                        <path
                          d="M24.996 16c4.968.011 8.993 4.034 9.004 9 0 2.695-1.209 5.248-3.292 6.957-2.084 1.71-4.824 2.396-7.468 1.87-4.538-.906-7.65-5.104-7.196-9.708.453-4.604 4.324-8.115 8.952-8.119zm4.722 6.386c-.304-.304-.796-.304-1.1 0L24.503 26.5l-2.042-2.042c-.304-.303-.796-.303-1.1 0-.303.304-.303.796 0 1.1l2.592 2.59c.304.304.796.304 1.1 0l4.665-4.663c.304-.304.304-.796 0-1.1z"
                          transform="translate(-16 -16)"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div
                className="font-body text-base sm:text-sm font-bold text-primary absolute sm:relative w-full sm:w-auto text-center left-0 top-8 sm:top-0 hidden sm:block"
              >
                Personal Information
              </div>
            </div>
          </button>
        </li>
        <li className="flex-1 sm:flex-auto sm:min-h-[72px]">
          <div
            className="border-b-2 sm:h-[13px] sm:w-[102px] sm:m-auto border-secondary"
          ></div>
        </li>
        <li className="flex w-auto sm:min-w-[106px] justify-center sm:min-h-[72px]">
          <button
            type="button"
            className="flex items-center group focus:outline-none group-hover:text-secondary"
          >
            <div
              className="flex flex-col sm:h-full sm:justify-between items-center text-xs font-medium"
            >
              <div className="text-white rounded-full">
                <div className="text-secondary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    className="transparent"
                    width="24"
                    height="24"
                    viewBox="0 0 20 20"
                  >
                    <g fill="currentColor" fill-rule="evenodd">
                      <g fill="currentColor" fill-rule="nonzero">
                        <path
                          d="M24.996 16c4.968.011 8.993 4.034 9.004 9 0 2.695-1.209 5.248-3.292 6.957-2.084 1.71-4.824 2.396-7.468 1.87-4.538-.906-7.65-5.104-7.196-9.708.453-4.604 4.324-8.115 8.952-8.119zm4.722 6.386c-.304-.304-.796-.304-1.1 0L24.503 26.5l-2.042-2.042c-.304-.303-.796-.303-1.1 0-.303.304-.303.796 0 1.1l2.592 2.59c.304.304.796.304 1.1 0l4.665-4.663c.304-.304.304-.796 0-1.1z"
                          transform="translate(-16 -16)"
                        ></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div
                className="font-body text-base sm:text-sm font-bold text-primary absolute sm:relative w-full sm:w-auto text-center left-0 top-8 sm:top-0 hidden sm:block"
              >
                Explore Loan Offers
              </div>
            </div>
          </button>
        </li>
        <li className="flex-1 sm:flex-auto sm:min-h-[72px]">
          <div
            className="border-b-2 sm:h-[13px] sm:w-[102px] sm:m-auto border-secondary"
          ></div>
        </li>
        <li className="flex w-auto sm:min-w-[106px] justify-center sm:min-h-[72px]">
          <button
            type="button"
            className="flex items-center group focus:outline-none group-hover:text-secondary"
          >
            <div
              className="flex flex-col sm:h-full sm:justify-between items-center text-xs font-medium"
            >
              <div className="text-white rounded-full">
                <div className="text-secondary">
                  <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <circle
                      cx="12.666"
                      cy="12"
                      r="9.5"
                      fill="white"
                      stroke="currentColor"
                    ></circle>
                    <circle
                      cx="12.666"
                      cy="12"
                      r="6.5"
                      fill="currentColor"
                      stroke="currentColor"
                    ></circle>
                  </svg>
                </div>
              </div>
              <div
                className="font-body text-base sm:text-sm font-bold text-primary absolute sm:relative w-full sm:w-auto text-center left-0 top-8 sm:top-0 block"
              >
                Document Verification
              </div>
            </div>
          </button>
        </li>
        <li className="flex-1 sm:flex-auto sm:min-h-[72px]">
          <div
            className="border-b-2 sm:h-[13px] sm:w-[102px] sm:m-auto border-secondary"
          ></div>
        </li>
        <li className="flex w-auto sm:min-w-[106px] justify-center sm:min-h-[72px]">
          <button
            type="button"
            className="flex items-center group focus:outline-none group-hover:text-secondary"
          >
            <div
              className="flex flex-col sm:h-full sm:justify-between items-center text-xs font-medium"
            >
              <div className="text-white rounded-full">
                <div className="text-secondary">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <circle
                      cx="10"
                      cy="10"
                      r="9.5"
                      fill="white"
                      stroke="#003B70"
                    ></circle>
                  </svg>
                </div>
              </div>
              <div
                className="font-body text-base sm:text-sm font-bold text-primary absolute sm:relative w-full sm:w-auto text-center left-0 top-8 sm:top-0 hidden sm:block"
              >
                Provisional Offer Letter
              </div>
            </div>
          </button>
        </li>
      </ol>
      <div
        className="flex items-start sm:items-center px-2 border border-gray-300 rounded-md sm:px-6 mt-10 sm:mt-10 mb-5"
      >
        <img
          className="w-[72px] h-[72px] flex-shrink-0"
          src={girt}
        />
        <div className="flex justify-between items-center w-full ml-4">
          <div className="py-2 sm:py-0">
            <p
              className="font-body text-[13px] sm:text-[22px] sm:font-bold text-primary leading-4 sm:leading-[26px]"
            >
              Your application was successfully submitted
            </p>
            <p
              className="font-body text-[11px] sm:text-[13px] text-gray-400 leading-[16px] mt-1"
            >
              We will be sharing your application soon, help us with few more
              documents to make your application stronger.
            </p>
          </div>
          <img
            className="h-10 ml-6 flex-shrink-0"
            src="https://easiloan-public.s3.ap-south-1.amazonaws.com/hdfc.png"
          />
        </div>
      </div>
      <div className="flex items-center justify-between">
        <div className="text-left">
          <h3 className="app-page-title">Document Verification</h3>
          <div className="mt-1">
            <p className="app-page-sub-title">
              Easiloan will be requiring following documents to process your
              application further.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div className="mx-auto max-w-7xl">
          <div className="border-b border-gray-light">
            <dt className="text-lg">
              <button
                type="button"
                className="flex items-center justify-between w-full text-left text-gray-400"
                aria-controls="5f6ea2ab-a345-4993-be31-8280622ed085"
                aria-expanded="true"
              >
                <div className="flex items-center py-5 sm:py-6">
                  <span
                    className="mr-3 text-lg font-medium sm:text-xl sm:mr-6 text-primary"
                    >Primary Applicant</span
                  >
                </div>
                <div className="flex items-center">
                  <span className="text-sm text-primary-100"> </span
                  ><span className="flex items-center ml-3 sm:ml-5 h-7"
                    ><svg
                      className="rotate-180 text-black h-5 w-5 transform"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                      ></path></svg></span>
                </div>
              </button>
            </dt>
            <dd className="block">
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title" 
                    >Aadhaar Card</span
                  >
                  <div className="flex items-center text-sm text-green">
                    Completed<svg
                      xmlns="http://www.w3.org/2000/svg"
                      className="w-4 h-4 ml-1"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div className="block">
                  <div className="relative">
                    <div className="flex items-center justify-between mb-2"></div>
                    <div className="p-1 border-t border-gray-300">
                      <div
                        className="px-[10px] py-2 rounded-full border border-green-400 bg-green-50 mb-2 mt-2"
                      >
                        <div className="flex items-center">
                          <div className="flex-shrink-0">
                            <img
                              className="w-[18px] h-[18px]"
                              src={successicon}
                            />
                          </div>
                          <div className="ml-2">
                            <p className="app-text-dm-small text-gray text-opacity-80">
                              Your offline e-kyc is completed
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title"
                    >Bank Statement</span
                  >
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title"
                    >Company PAN Card</span
                  >
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title"
                    >Company TAN Card</span
                  >
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title">Form 16</span>
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title">ITR</span>
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title">PAN Card</span>
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title"
                    >Professional Information</span
                  >
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title"
                    >Proof of Relationship</span
                  >
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
              <div className="border border-gray-300 rounded-md mb-4">
                <div
                  className="flex justify-between p-4 cursor-pointer"
                  role="presentation"
                >
                  <span className="text-xl font-normal app-page-title"
                    >Salary Slip</span
                  >
                  <div className="flex items-center text-sm">In-Progress</div>
                </div>
                <div className="hidden"></div>
              </div>
            </dd>
          </div>
        </div>
      </div>
      <div className="my-5 sm:my-6">
        <button
          className="app-btn app-btn-primary w-full sm:w-auto sm:min-w-[300px]"
          type="submit"
          data-testid="get-scanction-button"
          disabled=""
        >
          <span>Get your home loan eligibility advice</span>
        </button>
      </div>
    </div>
    
    </div>