.contactdiv {
    position: relative;
    text-align: center;
    color: white;
  
  }
  
  .top-left {
      position: absolute;
      top: 8px;
      /* left: 16px; */
      left: 125px;
    }
    
    .top-right {
      position: absolute;
      top: 75px;
      right: 126px;
    }
    
    
  
  
  .contactdiv .top-left h1 {
    font-family: "Lato";
    font-style: "ExtraBold";
    font-size: 40px;
    line-height: 50px;
    line-height: 126%;
    vertical-align: Top;
    letter-spacing: 5%;
    margin-left: -74px;
    margin-bottom: 0px;
    margin-top: 75px;
  }
  
  .contactdiv .top-left hr {
    top: 0px !important;
    margin-left: 80px;
    color: #0df08b;
    width: 190px;
    height: 3px;
    border-radius: 10px;
  }
  
  .contactdiv .top-left p {
      font-family: 'Source Serif Pro', serif;
    font-style: "Regular";
    font-size: 20px;
    line-height: 36px;
    line-height: 180%;
    vertical-align: Top;
    letter-spacing: 4%;
    margin-top: 18px;
    margin-left: 80px;
    color: white;
  }
  .col-form-label {
      color: #000;
  }
  .col-form-label {
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
      margin-bottom: 0;
      font-size: 26px !important;
      line-height: 1.5;
  }
  label {
      display: inline-block;
      margin-bottom: .5rem;
  }
  .box {
      /* padding: 40px 70px;
      background: #fff;
      -webkit-box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
      box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%); */
      /* Width:526px; */
      width: fit-content !important;
  Height:610px;
  Top :75px;
  Left :788px;
  border-radius:20px;
  Padding:40px;
  Gap:20px;
  /* background: #fff; */
  background-color: #e4e2e2;
      -webkit-box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
      box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%); 
  }
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
  }
  .mb-5, .my-5 {
      margin-bottom: 3rem!important;
  }
  .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .form-group {
      margin-bottom: 1rem;
  }
  @media (min-width: 768px){
  .col-md-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  }
  
  .col-form-label {
      color: #000;
  }
  .col-form-label {
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
      margin-bottom: 0;
      font-size: inherit;
      line-height: 1.5;
  }
  label {
      display: inline-block;
      margin-bottom: 0.5rem;
  }
  .btn, .form-control {
      height: 55px;
  }
  .form-control {
      border: none;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
  }
  .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  button, input {
      overflow: visible;
  }
  button, input, optgroup, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
  }
  .mb-3, .my-3 {
      margin-bottom: 1rem!important;
  }
  .form-group {
      margin-bottom: 1rem;
  }
  
  @media (min-width: 768px){
  .col-md-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  }
  
  #message {
      resize: vertical;
  }
  textarea.form-control {
      height: auto;
  }
  
  .getstart-form{
      Font-family: " Roboto";
    Font-style: "SemiBold";
    Font-size: 15px;
    Line-height: 18px;
    Line-height: 100%;
    }
  
  
    .approvalmobcontact{
      display: none;
    }
    
    .approvaldeskcontact{
      display: block;
    }
  
    
    @media only screen and (max-width: 767px) {
        .mobilespace{
            padding-top: 0px !important;
        }
        .contactdiv .top-left hr{
            margin-left: 0px;
           }
       
        .contactdiv .top-left h1{
            font-size: 30px !important;
            margin-left: -129px !important
        }
      /* .main-footer{
          margin-top: 504px;
      } */
      /* .top-left{
          display: none;
      } */

      .top-left{
          top:-67px !important;
      }
      .contactdiv .top-left p{
        margin-left: 0px;
        font-size: 16px;
    }
  /* .box {
      Width: 328px;
  
  } */
  
  .top-right{
      right: 5px;
      top:160px;
  }
  .addform{
      width: 0px;
  }
      /* #approvcardmobile{
          width: 338px !important;
      } */
      .approvalmobcontact{
          display: block  !important;
        }
        .approvaldeskcontact{
          display: none !important;
        }
  
      }
  
      @media only screen and (max-width: 991px) {
        .mobilespace{
            padding-top: 0px !important;
        }
        .contactdiv .top-left hr{
            margin-left: 0px;
           }
          /* .main-footer{
          margin-top: 490px;
          } */
          /* .top-left{
              display: none;
          } */
          .top-left{
            top:-67px;
        }
        .contactdiv .top-left h1{
            font-size: 30px !important;
            margin-left: -129px !important
        }
        .contactdiv .top-left p{
            margin-left: 0px;
            font-size: 16px;
        }
          .approvalmobcontact{
              display: block  !important;
            }
            .approvaldeskcontact{
              display: none !important;
            }
          
          }
  
          @media only screen and (max-width: 600px) {
            .mobilespace{
                padding-top: 0px !important;
            }
            .contactdiv .top-left hr{
             margin-left: 0px;
            }
              /* .top-left{
                  display: none;
              } */
              .top-left{
                top:-67px !important;
            }
            .contactdiv .top-left h1{
                font-size: 30px !important;
                margin-left: -129px !important
            }
            .contactdiv .top-left p{
                margin-left: 0px;
                font-size: 16px;
            }
              .approvalmobcontact{
                  display: block  !important;
                }
                .approvaldeskcontact{
                  display: none !important;
                }
              
              }
  
  
              .addform{
              width: 446px
              }