*, :after, :before {
    box-sizing: border-box;
    /* border: 0 solid #565656; */
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.relative {
    position: relative;
}
.rounded-md {
    border-radius: 0.375rem !important;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.inline-flex {
    display: inline-flex;
}
ol, ul {
    list-style: none;
}
fieldset, ol, ul {
    margin: 0;
    padding: 0;
}


.justify-center {
    justify-content: center;
}
.w-auto {
    width: auto;
}
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


.font-medium {
    font-weight: 500;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.text-secondary {
    --tw-text-opacity: 1;
    /* color: rgba(69,193,197,var(--tw-text-opacity)); */
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}
.text-primary {
    --tw-text-opacity: 1;
    color: rgba(0,59,112,var(--tw-text-opacity));
}
.font-bold {
    font-weight: 700;
}
.font-body {
    font-family: DM Sans;
}
.text-center {
    text-align: center;
}
.w-full {
    width: 100%;
}
.block {
    display: block;
}
.top-8 {
    top: 2rem;
}
.left-0 {
    left: 0;
}
.absolute {
    position: absolute;
}

.border-secondary {
    --tw-border-opacity: 1;
    border-color: rgba(69,193,197,var(--tw-border-opacity));
}

.border-b-2 {
    border-bottom-width: 2px;
}

.justify-center {
    justify-content: center;
}
.w-auto {
    width: auto;
}

.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.font-medium {
    font-weight: 500;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.text-secondary {
    --tw-text-opacity: 1;
    /* color: rgba(69,193,197,var(--tw-text-opacity)); */
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}
.text-primary {
    --tw-text-opacity: 1;
    color: rgba(0,59,112,var(--tw-text-opacity));
}
.font-bold {
    font-weight: 700;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.font-body {
    font-family: DM Sans;
}
.text-center {
    text-align: center;
}
.w-full {
    width: 100%;
}
.hidden {
    display: none;
}
.top-8 {
    top: 2rem;
}
.left-0 {
    left: 0;
}
.absolute {
    position: absolute;
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(176,194,217,var(--tw-border-opacity));
}

.border-b-2 {
    border-bottom-width: 2px;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
.mt-10 {
    margin-top: 2.5rem;
}
.app-page-title {
    font-family: IBM Plex Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(0,59,112,var(--tw-text-opacity));
}

.mb-5 {
    margin-bottom: 1.25rem;
}
.app-page-sub-title {
    margin-top: 0.25rem;
    font-family: DM Sans;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(113,125,136,var(--tw-text-opacity));
    --tw-text-opacity: 0.8;
}
.gap-y-5 {
    grid-row-gap: 1.25rem;
    row-gap: 1.25rem;
}

.gap-x-8 {
    grid-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}
.app-form-wrapper {
    margin-bottom: 3.25rem;
    display: block;
    text-transform: uppercase;
}
.app-form-label, .app-form-label-large {
    display: block;
    font-family: IBM Plex Sans;
    font-weight: 500;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
    opacity: .6;
}
.app-form-label {
    font-size: 11px;
}
.grid-cols-6 {
    grid-template-columns: repeat(6,minmax(0,1fr));
}
.grid {
    display: grid;
}
.mt-2 {
    margin-top: 0.5rem;
}
.col-span-6 {
    grid-column: span 6/span 6;
}
/* .app-form-wrapper {
    margin-bottom: 0.25rem;
    display: block;
    text-transform: uppercase;
} */
.rounded-md {
    border-radius: 0.375rem;
}
.relative {
    position: relative;
}

.app-form-label, .app-form-label-large {
    display: block;
    font-family: IBM Plex Sans;
    font-weight: 500;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
    opacity: .6;
}
.app-form-label {
    font-size: 11px;
}

.items-center {
    align-items: center;
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
}
.grid {
    display: grid;
}
.items-center {
    align-items: center;
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
}
.grid {
    display: grid;
}

.shadow-app-card {
    --tw-shadow: 0 5px 20px 0 rgba(11,38,75,0.1);
}
.shadow-app-card, .shadow-card-shadow-secondary {
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
.text-secondary {
    --tw-text-opacity: 1;
    /* color: rgba(69,193,197,var(--tw-text-opacity)); */
}
.border-green {
    --tw-border-opacity: 1;
    border-color: rgba(71,192,104,var(--tw-border-opacity)) !important;
}
.border-transparent {
    border-color: transparent;
}
.border {
    border-width: 1px;
}
.rounded-10 {
    border-radius: 10px;
}
.flex-col {
    flex-direction: column;
}
.w-\[100px\] {
    width: 100px;
}
.h-\[100px\] {
    height: 100px !important;
}
.relative {
    position: relative;
}
.btn-input {
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(191,200,211,var(--tw-border-opacity));
    padding: 0.25rem;
    font-weight: 500;
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
}


.btn {
    display: inline-flex;
    height: 2.5rem;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
* {
    --tw-shadow: 0 0 transparent;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
.items-center {
    align-items: center;
}
.h-9 {
    height: 2.25rem;
}
.flex {
    display: flex;
}
.h-8 {
    height: 2rem;
}
img, video {
    max-width: 100%;
    height: auto;
}

.text-opacity-70 {
    --tw-text-opacity: 0.7;
}
.text-gray {
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
}
.leading-3 {
    line-height: .75rem;
}
.font-medium {
    font-weight: 500;
}
.text-xxs {
    font-size: .625rem;
}
/* .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
} */
.mt-2 {
    margin-top: 0.5rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.gap-y-5 {
    grid-row-gap: 1.25rem;
    row-gap: 1.25rem;
}

.gap-x-8 {
    grid-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}
.grid-cols-6 {
    grid-template-columns: repeat(6,minmax(0,1fr));
}
.grid {
    display: grid;
}
.mt-2 {
    margin-top: 0.5rem;
}

/* .app-form-wrapper {
    margin-bottom: 0.25rem;
    display: block;
    text-transform: uppercase;
} */

.gap-y-5 {
    grid-row-gap: 1.25rem;
    row-gap: 1.25rem;
}
.gap-x-8 {
    grid-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}
.grid-cols-6 {
    grid-template-columns: repeat(6,minmax(0,1fr));
}
.grid {
    display: grid;
}
.mt-5 {
    margin-top: 1.25rem;
}

.app-form-label, .app-form-label-large {
    display: block;
    font-family: IBM Plex Sans;
    font-weight: 500;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
    opacity: .6;
}

.app-form-label {
    font-size: 11px;
}
.rounded-md {
    border-radius: 0.375rem;
}

.relative {
    position: relative;
}
.opacity-90 {
    opacity: .9;
}
.border {
    border-width: 1px;
}
.w-full {
    width: 100%;
}
.block {
    display: block;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    caret-color: #45c1c5;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    height: 50px;
    border-radius: 0.375rem;
    --tw-border-opacity: 1;
    border-color: rgba(191,200,211,var(--tw-border-opacity));
    font-family: DM Sans;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(33,33,44,var(--tw-text-opacity));
    opacity: .8;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.w-full {
    width: 100%;
}
.bottom-\[1px\] {
    bottom: 1px;
}
.absolute {
    position: absolute;
}
 .range-wrapper {
    margin-top: 1rem;
}
.range-slider {
    position: relative;
    width: 100%;
}
.range-thumb--left {
    z-index: 3;
}
.range-thumb {
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
}
/*.range-thumb, .range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
} */
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.range-slider__track {
    --tw-bg-opacity: 1;
    background-color: #2EB086;
    width: 100%;
    z-index: 1;
}
.range-slider__range, .range-slider__track {
    border-radius: 9999px;
    height: 3px;
}
.range-slider__left-value, .range-slider__range, .range-slider__right-value, .range-slider__track {
    position: absolute;
}
.range-slider__range {
    --tw-bg-opacity: 1;
    background-color: rgba(69,193,197,var(--tw-bg-opacity));
    z-index: 2;
}
.range-slider__range, .range-slider__track {
    border-radius: 9999px;
    height: 3px;
}
.range-slider__left-value, .range-slider__range, .range-slider__right-value, .range-slider__track {
    position: absolute;
}

.app-form-label, .app-form-label-large {
    display: block;
    font-family: IBM Plex Sans;
    font-weight: 500;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgba(38,53,66,var(--tw-text-opacity));
    opacity: .6;
}

.app-form-label {
    font-size: 11px;
}

.rounded-md {
    border-radius: 0.375rem;
}
.relative {
    position: relative;
}

.css-yk16xz-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}
.el-select__control {
    height: 50px!important;
    --tw-border-opacity: 1!important;
    border-color: rgba(191,200,211,var(--tw-border-opacity))!important;
    border-radius: 0.375rem!important;
}
.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.el-select__value-container {
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
}
.css-1wa3eu0-placeholder {
    color: rgb(128, 128, 128);
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}
.el-select__placeholder {
    font-family: DM Sans;
    /* font-size: 13px !important; */
    font-weight: 400;
}

.css-1g6gooi {
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    visibility: visible;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}
.app-select input {
    height: auto;
}

[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    caret-color: #45c1c5;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    height: 50px;
    border-radius: 0.375rem;
    --tw-border-opacity: 1;
    border-color: rgba(191,200,211,var(--tw-border-opacity));
    font-family: DM Sans;
    /* font-size: .875rem; */
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(33,33,44,var(--tw-text-opacity));
    opacity: .8;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.app-select .el-select__indicators {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.css-1wy0on6 {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}
.css-1okebmr-indicatorSeparator {
    align-self: stretch;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}
.el-select__indicator-separator {
    display: none;
}
.css-tlfecz-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}

.css-tlfecz-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}
.app-select input {
    height: auto;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.shadow-none, .shadow-switch-shadow {
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
.shadow-none {
    --tw-shadow: 0 0 transparent;
}
.py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.w-full {
    width: 100%;
}
.block {
    display: block;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    caret-color: #45c1c5;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    height: 50px;
    border-radius: 0.375rem;
    --tw-border-opacity: 1;
    border-color: rgba(191,200,211,var(--tw-border-opacity));
    font-family: DM Sans;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(33,33,44,var(--tw-text-opacity));
    opacity: .8;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    /* font-size: 1rem; */
    line-height: 1.5rem;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.app-btn-primary {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-bg-opacity: 1;
    background-color: rgba(0,59,112,var(--tw-bg-opacity));
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}
.app-btn {
    /* border-radius: 0.5rem; */
    border-width: 1px;
    border-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.app-btn {
    display: inline-flex;
    height: 45px;
    width: 230px;
    align-items: center;
    justify-content: center;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgba(0,59,112,var(--tw-text-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    /* vertical-align: middle; */
}





/* 
Media query */
@media (min-width: 768px){
    .opacity-100 {
        opacity: 1;
    }
    .app-btn {
        padding-left: 25px;
        padding-right: 25px;
    }
    .text-green {
        --tw-text-opacity: 1;
        color: rgba(71,192,104,var(--tw-text-opacity));
    }
    .rounded-full {
        border-radius: 9999px;
    }
    .overflow-hidden {
        overflow: hidden;
    }
    .items-center {
        align-items: center;
    }
    .w-5 {
        width: 1.25rem;
    }
    .h-5 {
        height: 1.25rem;
    }
    .inline-flex {
        display: inline-flex;
    }
    .-right-2 {
        right: -0.5rem;
    }
    .-bottom-2 {
        bottom: -0.5rem;
    }
    .absolute {
        position: absolute;
    }
    .md\:w-8 {
        width: 2rem;
    }
    .md\:h-8 {
        height: 2rem;
    }
    .md\:-right-3 {
        right: -0.75rem;
    }
    .md\:-bottom-3 {
        bottom: -0.75rem;
    }
.app-page-title {
    font-size: 35px;
    line-height: 2.5rem;
}
}

@media (min-width: 1260px){
.container {
    /* max-width: 1260px; */
    max-width: 1390px;
}
}
@media (min-width: 640px) {
    .btn {
        height: 3rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
    .sm\:w-auto {
        width: auto;
    }
    .sm\:block {
        display: block;
    }
    .sm\:min-w-\[106px\] {
        min-width: 106px;
    }
    .sm\:justify-between {
        justify-content: space-between;
    }
    .sm\:flex-auto {
        flex: 1 1 auto;
    }
    .sm\:top-0 {
        top: 0;
    }
    .sm\:h-full {
        height: 100%;
    }
    .sm\:relative {
        position: relative;
    }
    .sm\:min-h-\[72px\] {
        min-height: 72px;
    }
   
    .sm\:w-\[102px\] {
        width: 102px;
    }
    .sm\:h-\[13px\] {
        height: 13px;
    }
    .sm\:m-auto {
        margin: auto;
    }
    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
    .sm\:w-auto {
        width: auto;
    }
    .sm\:top-0 {
        top: 0;
    }
    .sm\:relative {
        position: relative;
    }
  .sm\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  /* .sm\:w-7\/12 {
    width: 58.333333%;
  } */
  .sm\:mt-28 {
    margin-top: 7rem;
  }
  .sm\:min-w-\[106px\] {
    min-width: 106px;
}
.sm\:min-h-\[72px\] {
    min-height: 72px;
}
.sm\:h-full {
    height: 100%;
}

}
.sm\:justify-between {
    justify-content: space-between;
}
@media (min-width: 1024px){
  
    .lg\:col-span-2 {
        grid-column: span 2/span 2;
    }
    .lg\:col-span-3 {
        grid-column: span 3/span 3;
    }
    .lg\:h-9 {
        height: 2.25rem;
    }
    .lg\:gap-x-8 {
        grid-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
.lg\:col-span-3 {
    grid-column: span 3/span 3;
}
.lg\:gap-x-8 {
    grid-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}
}

.boxwidth{
    width: 300px;
}