
/***************Footer*******************/

.main-footer .widget-title {
    position: relative;
    margin-bottom: 20px;
  }
  /* footer.bg-dark .widget-title::after {
    display: none;
  } */
  footer .f-item > img {
    margin-bottom: 30px;
  }
  footer .f-items .f-item.link li {
    display: block;
    margin-bottom: 18px;
  }
  footer .f-items .f-item.link li a {
    display: inline-block;
    color: #666;
    font-weight: 600;
  }
  footer.bg-dark .f-items .f-item.link li a {
    color: #ccc;
  }
  footer.bg-dark p {
    color: #ccc;
  }
  footer .f-items .f-item.link li a:hover {
    color: #437eeb;
  }
  footer .f-items .f-item.link li:last-child {
    margin-bottom: 0;
  }
  footer .f-items .f-item.contact li {
    margin-bottom: 10px;
  }
  footer.bg-dark .f-items .f-item.contact li {
    color: #ccc;
  }
  footer .f-items .f-item.contact li:last-child {
    margin-bottom: 0;
  }
  footer .f-items .f-item .address {
    margin-top: 20px;
  }
  footer .f-items .f-item .social {
    margin-top: 25px;
  }
  footer .f-items .f-item .social li {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 0;
  }
  footer .f-items .f-item .social li a {
    display: inline-block;
    height: 37px;
    width: 37px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
  }
  footer .f-items .f-item .social li.facebook a {
    background: #3b5998 none repeat scroll 0 0;
  }
  footer .f-items .f-item .social li.twitter a {
    background: #1da1f2 none repeat scroll 0 0;
  }
  footer .f-items .f-item .social li.pinterest a {
    background: #bd081c none repeat scroll 0 0;
  }
  footer .f-items .f-item .social li.g-plus a {
    background: #db4437 none repeat scroll 0 0;
  }
  footer .f-items .f-item .social li.youtube a {
    background: #cd201f none repeat scroll 0 0;
  }
  footer .f-items .f-item .social li.instagram a {
    background: #262626 none repeat scroll 0 0;
  }
  footer .f-items .f-item .social li.linkedin a {
    background: #0077b5 none repeat scroll 0 0;
  }
  /* footer .footer-bottom {
    padding-bottom: 30px;
  } */
  footer .footer-bottom ul li {
    display: inline-block;
    margin-left: 15px;
  }
  footer .footer-bottom ul li a:hover {
    color: #437eeb;
  }
  footer .footer-bottom p {
    margin: 0;
  }
  .main-footer .footer-bottom {
    position: relative;
    line-height: 24px;
    background-image: linear-gradient(to top, #102348 0%, #102348 100%) !important;
  }
  
  
  /*
    *
    * ==========================================
    * New FOOTER START
     ============================== */
     .main-footer{
      font-family: 'Arimo', sans-serif;
     }
  .main-footer .top-part {
    padding-top: 30px !important;
    /* background-image: linear-gradient(to top, #2b1739 0%, #2b1739 100%) !important; */
    background-image: linear-gradient(to top, #102348 0%, #102348 100%) !important;
  
    
  }
  .main-footer .links-widget {
    margin-bottom: 10px !important;
  }
  
  .main-footer .widgets-section {
    position: relative;
    padding: 0px 0px 0px;
    /* background: rgb(37,28,89); */
    /* background: #0c284d; */
    /* background: #0c284d; */
  }
  .main-footer .auto-container {
    max-width: 1340px;
  }
  .main-footer .footer-widget {
    position: relative;
    margin-bottom: 40px;
    padding-left: 4px;
  }
  
  .main-footer .links-widget .widget-content {
    position: relative;
    padding-left: 20px;
  }
  
  .auto-container {
    position: static;
    max-width: 1260px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  
  .main-footer .mid-part {
    padding-top: 16px;
    background-color: #244268 !important;
  }
  
  .newsletter-form {
    position: relative;
  }
  
  .newsletter-form form {
    position: relative;
  }
  .newsletter-form .form-group {
    position: relative;
    margin: 0;
    box-shadow: 0px 0px 60px 0px rgb(0 0 0 / 7%);
  }
  
  
  .main-footer .top-part .newsletter-form input {
    background: transparent !important;
    border: 2px solid #fff !important;
    color: #fff !important;
  }
  
  .newsletter-form .form-group input[type="text"], .newsletter-form .form-group input[type="tel"], .newsletter-form .form-group input[type="email"], .newsletter-form .form-group textarea {
    position: relative;
    /* width: 100%; */
    line-height: 30px;
    padding: 11px 20px;
    height: 54px;
    display: inline-block;
    font-size: 15px;
    background: #ffffff;
    font-weight: 400;
    color: #222222;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.04);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .main-footer .top-part .newsletter-form button {
    margin-left: 30px;
    background: #ffff;
    border: none;
    color: #4b5d73;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 18px 46px;
    font-family: 'poppins';
    transition: all 0.3s ease 0s;
  }
  
  .main-footer .top-part .newsletter-form input {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  /* .main-footer .top-part .newsletter-form input:placeholder {
    color: #fff;
  } */
  
  .main-footer .top-part .newsletter-form button {
    margin-left: 30px;
    background: #ffff;
    border: none;
     color: #4b5d73;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
     line-height: 1;
    padding: 18px 46px;
    font-family: "poppins";
    transition: all 0.3s ease 0s;
  }
  
   .main-footer .top-part .inner p {
    color: #fff;
    font-size: 17px;
    line-height: 34px;
    font-family: "rubik";
    margin-bottom: 20px;
  } 
  .main-footer .footer-bottom .copyright a {
    color: white;
    opacity: 0.5;
    font-size: 16px;
  }
  .main-footer .mid-part .inner h3 {
    text-align: center;
    font-size: 32px;
    color: #fff;
    line-height: 40px;
    padding-bottom: 50px;
    padding-top: 40px;
    /* font-family: "Poppins"; */
    font-weight: 100;
  }
  
  .main-footer .footer-bottom .inner {
    position: relative;
    display: block;
    text-align: center;
    padding: 16px 0px 12px;
  }
  .main-footer .footer-bottom .copyright {
    color: white;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
    font-family: 'rubik';
    line-height: 26px;
  }
  .main-footer .footer-bottom .copyright {
    position: relative;
  }
  /* .main-footer .mid-part .widget-title h4 {
    color: #fff;
    font-weight: 500;
    font-family: "poppins";
  } */
  
  /* .main-footer .mid-part ul li a {
    color: #fff;
    font-size: 17px !important;
    opacity: 0.5;
    font-family: "rubik" !important;
  } */
  
  .main-footer .mid-part .social-links {
    padding-left: 0px;
  }
  
  .main-footer .links-widget .links li {
    position: relative;
    margin-bottom: 12px;
    line-height: 24px;
    font-size: 15px;
    color: #fff;
  }
  .main-footer .links-widget .links li a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }
  .main-footer .mid-part ul li a {
    color: #fff;
    font-size: 25px !important;
    opacity: 0.5;
    font-family: 'rubik' !important;
    font-weight: 0px !important;
  }
  
  
  .main-footer .social-links {
    position: relative;
  }
  .main-footer .widget-title h4 {
    position: relative;
    display: inline-block;
    line-height: 1.3em;
    font-size: 22px;
    color: #22477b;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 0;
  }
  .main-footer .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 7px;
    line-height: 24px;
  }
  .main-footer .mid-part .widget-title h4 {
    color: #fff;
    font-weight: 500;
    font-family: 'poppins';
  }
  
  .main-footer .mid-part .social-links li a {
    color: white;
  }
  .main-footer .widget-title h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    /* border-bottom: 2px solid #22477b; */
    border-bottom: 0;
  }
  /*
   *
   * ==========================================
   * NEW FOOTER END
    ============================== */
  
  .mobile-view{
    display: none;
  }
  
  @media only screen and (max-width: 991px){
  
    .main-footer .links-widget.ml-70{
      margin-left: 30px;
    }
    .main-footer .widget-section .footer-widget{
      margin: 0px 0px 30px 0px !important;
    }
  
    .main-footer .footer-top{
      padding-bottom: 63px;
    }
    .main-footer .footer-upper .upper-inner .text{
      float: none;
      display: block;
      margin-bottom: 15px;
    }
  
    .main-footer .footer-upper .upper-inner .btn-box{
      margin: 0px;
      float: none;
      display: block;
    }
  
    .rtl .main-footer.alternet-3 .footer-upper .upper-inner .btn-box{
      float: right;
    }
    
  
  }
  
  
  @media only screen and (max-width: 767px){
    .desk-view{
      display: none;
    }
    .mobile-view{
      display: block;
    }
    .main-footer .mid-part .inner h3{
      font-size: 27px;
    }
    .main-footer .top-part .newsletter-form button{
      margin-left: 0px;
      margin-bottom: 40px;
    }
    .main-footer .footer-top{
      padding: 70px 0px 40px 0px;
    }
    .main-footer .links-widget.ml-70{
      margin-left: 30px;
    }
  
  }
  
  .single-item{
    min-height: 450px !important;
  }
  
   .read-services {
    position: absolute;
     bottom: 25px;
  }
  
  .service-box{
    min-height: 410px !important;
  }
  
  
  .read-services2 {
    position: absolute;
     bottom: 25px;
  }